body {
  font-size: 36pt;
  font-family: "Times New Roman", times, serif;
}

h1 {
  font: 8em "Times New Roman", serif !important;
}

h3 {
  font-size: 60pt;
  font-family: "Times New Roman", times, serif;
}
